/* Font definations */
@font-face {
    font-family: Quicksand;
    src: url(Quicksand_Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand_Bold.woff);
    font-weight: 700;
}

/* HTML styles */
body {
  font-size: 30px;
  font-family: Quicksand;
  font-weight: 300;
}

.banner-container {
  width: 100%;
  background: none no-repeat scroll center center / cover;
  background-image: url(banner.svg);
  font-size: 54px;
  line-height: 54px;
  font-family: Quicksand;
  font-weight: 700;
}

.title-big {
  font-size: 64px;
  padding-top: 120px;
}

.title-highlight {
  color: #6644c0;
}

.title-small {
  font-size: 32px;
}

/* http://stackoverflow.com/questions/3659294/ */
/* http://stackoverflow.com/questions/18749276/ */
/* http://alexcican.com/post/hide-and-show-div/ */
.title-small-hidden {
  font-size: 24px;
  opacity: 0.2;
}
.title-small-hidden:hover {
  opacity: 0.4;
}

.IPA {
  font-family: Gentium,GentiumAlt,DejaVu Sans,Segoe UI,Lucida Grande,Charis SIL,Doulos SIL,TITUS Cyberbit Basic,Code2000,Lucida Sans Unicode,sans-serif;
}
